<!DOCTYPE html>
<html>
<head>
  <title>CribMapper</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_KEY'] %>"></script>

</head>
<body>
<%= render "shared/header"  %>
<%= render "shared/errors" %>

<%= yield %>

</body>
</html>
